/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */

.debug .col-big{
    background-color: #1E90FF;
    height: 500px;
}

.debug .col-small{
    background-color: #FFC0CB;
    height: 500px;
}

.debug .col-main-bottom{
    background-color: #228B22;
    height: 900px;
}

.debug .col-big-foot{
    background-color: #FFC0CB;
    height: 580px;
}

.debug .col-small-foot{
    background-color: #20B2AA;
    height: 580px;
}
.debug footer{
    background-color: #252525;
}

.debug .col-footer-bottom{
    background-color: #7FFFD4;
    height: 80px;
}

/* COMMON */
.container{
    max-width: 1200px;
    margin: auto;
}

main section:nth-child(2n){
    background-color: #D3D3D3;
}

/* TIPOGRAPHY */

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-size: 50px;
    font-style: bold;
}

p{
    font-size: 20px;
    padding-top: 50px;
    line-height: 1.8;
}

/* BUTTONS */

.btn{
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    border: none;
    margin: 10px;
    
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.btn-big{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 30px;
}

.btn-browser{
    background-color: #23272a;
    color: white;
}

.btn-browser:hover{
    opacity: 0.8
}

.btn-mac:hover{
    color: #628CF7;
}
/* HEADER */

header{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header-top{
    padding: 15px 0;
}

.col-header{
    text-align: center;
    min-height: 400px;
}
.logo, .login {
    width: 20%;
    padding: 0 5px;
}

.main-nav {
    width: 60%;
}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li {
    margin: 0 10px;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.login {
    text-align: right;
}

.col-logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.main-nav ul{
    list-style: none;
}

.main-nav ul li{
    color: inherit;
    text-decoration: none;
}

.header-bottom{
    padding: 50px;
    
}

.col-header{
    max-width: 900px;
    margin: auto;
    color: white;
    padding-top: 100px;
}

/* MAIN */

.row{
    padding: 50px;
    display: flex;
}

.col-big{
    width: 60%;
}

.col-small{
    width: 40%;
}

.col-main-bottom{
    width: 100%;
}

/* FOOTER */

.col-big-foot{
    width: 33.33%;
    display: flex;
}

.col-small-foot{
    width: 50%;
}

.col-footer-bottom{
    width: 100%;
    display: flex;
    align-items: center;
}
